<section
  flexDir=""
  class="flex-col mt-6"
  [ngClass]="{
    'flex-col mt-7': flexDir === 'col',
    'flex-row mt-6': flexDir === 'row'
  }"
>
  <div class="flex-row w-100 mb-2 pd-2">
    <div class="flex-col img-col"></div>
    <div class="flex-col text-col pd-1">
      <p>
        Click the
        <em>"Sign Up"</em> button. Or, if you already have an account, click the
        <em>"Login"</em> link on the menu bar.
      </p>
    </div>
    <div class="flex-col btn-col">
      <app-button
        usedAt="content"
        text="Sign Up"
        (btnClick)="navigateTo()"
      ></app-button>
    </div>
  </div>

  <div class="flex-row w-100 mb-2 pd-2">
    <div class="flex-col text-col pd-1">
      <span>User List</span>
      <ul>
        <li *ngFor="let user of userList">
          <div id="{{ user.id }}" (click)="deleteUser(user.id)">
            <span>{{ user.name }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
