<section class="flex-col mt-page">
  <div class="flex-col fc-c login">
    <div class="mt-5 login-card-container">
      <app-login-signup-form
        *ngIf="!loading; else spinner"
        formTitle="Login"
        formType="login"
        #loginSignupForm
        (form_type)="onSubmit($event)"
      ></app-login-signup-form>
      <ng-template #spinner>
        <div class="spinner-container">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</section>
